* {
    margin: 0;
    padding: 0;
}

.pickaxe {
    width: 80%;
    height: 80%;
}

.block {
    background-color: #333;
    width: 50%;
}

.box::after {
    content: '';
    display: block;
    padding-bottom: 100%;
}